<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reg.css">
    <link rel="stylesheet" href="/nav.css">
</head>
<body>
    <%-include('../partials/nav')%>
    <h2 class="head">House registered successfully</h2>
    <a href="/host/add-home" class="a">register more home</a>
</body>
</html>