.head2 {
    text-align: center;
    margin: 9px;
    padding: 3px;
    width: 450px;
    margin-left: 400px;
}

.container {
    max-width: 600px;
    margin: 38px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.02);
}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #333;
}

.price {
    font-size: 20px;
    color: #e74c3c;
    font-weight: bold;
}

.location,
.rating {
    font-size: 18px;
    margin: 5px 0;
    color: #555;
}

form{
    margin-top: 15px;
}
form button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}