body{
    padding: 0;
    margin: 0;
}
nav{
    background-color: red;
    padding: 10px;
}
nav ul li{
    list-style: none;
    display: flex;
    text-decoration: none;
    background-color: re;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 3px;
}

nav ul{
    display: flex;
    gap: 24px
}
.active {
    background-color: #ee4e4e;
    box-shadow: 0px 0px 7px 2px #f4e2e7;
    border-radius: 6px;
}
.login{
    margin-left: auto;
    
}
.login:hover{
    background-color: #ee4e4e;
    box-shadow: 0px 0px 7px 0px #f4e2e7;
    border-radius: 6px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logout{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
}
.signup{
    margin-left: auto;   
}
.signup:hover{
    background-color: #ee4e4e;
    box-shadow: 0px 0px 7px 0px #f4e2e7;
    border-radius: 6px;
}